
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.container{

    margin: 100px auto;
    min-height: 200px;
    width: 450px;
    background: #0cb262;
padding: 20px;
}

.container .title
{
    margin: auto;
    margin: 10px;
   display: flex;
   justify-content: center;
   font-weight: bold;
   font-size: larger;
}
.add
{

    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: medium;
    color: black;

}
.add input
{
  height: 40px;
  flex: 0.9;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 5px;
   
}

.add button
{
    height: 40px;
    flex: 0.1;
   border-radius: 10px;
   
    outline: none;
    cursor: pointer;
}
 
.todoLists
{
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    white-space: nowrap;
} 

.pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
}